.toolbar {
    margin-bottom: 10px;
}

.row {
    width: 500px;
    height: 100px;
    display: flex;
}

.row > div {
    border: 2px solid black;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    padding: 5px;
}

.marked {
    background-color: gray;
}